@using System.Web.Mvc.Html
@using Singular.Modules.Core.HtmlExtensions
@using Singular.Web.Mvc.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage<Singular.Modules.Core.ViewModels.CoreViewModelBase>
@{
    Layout = null;
}<!DOCTYPE html>
<html data-ng-app="@ViewBag.NgAppName">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Singular | @(ViewBag.Title ?? "[Set ViewBag.Title]")</title>
    <link rel="stylesheet" href="@Url.EmbeddedContent("Core", "~/Content/Bootstrap/css/bootstrap.css", IncludeBehaviour.MinifyAlways)" />
    <link rel="stylesheet" href="@Url.EmbeddedContent("Core", "~/Content/Css/Singular.Core.css", IncludeBehaviour.MinifyAlways)" />
    @RenderSection("styles", false)

    @*
        SERVER-DRIVEN CSS
    *@
    <style>

            .collapse.in {
                height: @((Model.Sections.Count*60) + 100)px;
                overflow: hidden;
            }

            @@font-face {
                font-family: 'Glyphicons Halflings';
                src: url('@Url.EmbeddedContent("Core", "~/Content/Bootstrap/fonts/glyphicons-halflings-regular.eot")');
                src: url('@Url.EmbeddedContent("Core", "~/Content/Bootstrap/fonts/glyphicons-halflings-regular.eot")?#iefix') format('embedded-opentype'), url('@Url.EmbeddedContent("Core", "~/Content/Bootstrap/fonts/glyphicons-halflings-regular.woff")') format('woff'), url('@Url.EmbeddedContent("Core", "~/Content/Bootstrap/fonts/glyphicons-halflings-regular.ttf")') format('truetype'), url('@Url.EmbeddedContent("Core", "~/Content/Bootstrap/fonts/glyphicons-halflings-regular.svg")#glyphicons_halflingsregular') format('svg');
            }
    </style>

    @*
        SERVER-DRIVEN JS VALUES
    *@
    <script>
        window.ROOT_URL = "@Url.Content("~/")";
        window.GENERAL_ERROR_MESSAGE = "@Html.Translate("A general error has occured")";
        @Html.DebugOnlyWrite("window.DEBUG_MODE = true;")
    </script>
</head>
<body data-ng-controller="SingularMasterAppController" data-ng-init="Init()">
    @Html.Partial("_Loader")
    <header>
        @Html.Partial("_Nav")
    </header>
    <div id="height_container">
        @Html.Partial("_Sidebar")
        <section id="dashboard">@RenderBody()</section>
    </div>
    @if (ViewBag.NoNg != true)
    {
        <script src="@Url.EmbeddedContent("Core", "~/Content/Scripts/Helpers.js", IncludeBehaviour.MinifyWhenNotDebug)"></script>
        <script src="@Url.EmbeddedContent("Core", "~/Scripts/angular.js", IncludeBehaviour.MinifyWhenNotDebug)"></script>
        <script src="@Url.EmbeddedContent("Core", "~/Scripts/angular-animate.js", IncludeBehaviour.MinifyWhenNotDebug)"></script>
        <script src="@Url.EmbeddedContent("Core", "~/Scripts/angularui/ui-bootstrap-tpls.js", IncludeBehaviour.MinifyWhenNotDebug)"></script>
        <script src="@Url.EmbeddedContent("AltNg", "~/alt/alt.route.js", IncludeBehaviour.MinifyWhenNotDebug)"></script>
        <script src="@Url.EmbeddedContent("AltNg", "~/alt/alt.repeat.js", IncludeBehaviour.MinifyWhenNotDebug)"></script>
        <script src="@Url.EmbeddedContent("AltNg", "~/alt/alt.ui.js", IncludeBehaviour.MinifyWhenNotDebug)"></script>
        <script src="@Url.EmbeddedContent("Core", "~/Content/Ng/Common/SingularCommon.js", IncludeBehaviour.MinifyWhenNotDebug)"></script>
        <script src="@Url.EmbeddedContent("Core", "~/Content/Ng/Common/SingularMasterApp.js", IncludeBehaviour.MinifyWhenNotDebug)"></script>
    }
    @RenderSection("scripts", false)
</body>
</html>