@using System.Web.UI.WebControls
@using Singular.Web.Mvc.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage<Singular.Modules.Core.ViewModels.CoreViewModelBase>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Singular | @(ViewBag.Title ?? "[Set ViewBage.Title]")</title>
    <link rel="stylesheet" href="@Url.EmbeddedContent("Core","~/Content/Css/Singular-Dashboard.css", IncludeBehaviour.MinifyAlways)" />
</head>
<body>
    <header>
        <div id="header_inner">
            <h1>Singular</h1>
        </div>
    </header>
    <section id="sec_top">
        <div id="sec_top_inner">
            <p>&nbsp;</p>
        </div>
    </section>
    <section id="sec_sidebar">
        <ul role="navigation">
            @foreach (var section in Model.Sections)
            {
                if (section.IsActive.Invoke())
                {
                    <li class="sec_sidebar-active">
                        <a title="@(Html.Translate(section.Name)) | @(Html.Translate(section.Description))"
                           href="@Url.Action(section.Action, section.Controller, section.RouteValues)">
                            <img src="@Url.EmbeddedContent(section.AreaName, section.ImageVirtualPath)"
                                 alt="@(Html.Translate(section.Name)) Image" />
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a title="@(Html.Translate(section.Name)) | @(Html.Translate(section.Description))"
                           href="@Url.Action(section.Action, section.Controller, section.RouteValues)">
                            <img src="@Url.EmbeddedContent(section.AreaName, section.ImageVirtualPath)"
                                 alt="@(Html.Translate(section.Name)) Image" />
                        </a>
                    </li>
                }

            }
        </ul>
        <p id="p_copyright">&copy;2014 Rob Johnson</p>
    </section>
    <span id="spn_hide_scroll"></span>
    <section id="sec_dashboard">
        <div id="sec_dashboard_inner">
            @RenderBody()
        </div>
    </section>
</body>
</html>

