@using System.Web.Mvc.Html
@using Singular.Web.Mvc.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Home")">Singular Framework</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Content("~/Singular/Core")" title="@Html.Translate("Home")">@Html.Translate("Home")</a></li>
                <li><a href="#" title="@Html.Translate("My account")">@Html.Translate("My account")</a></li>
                <li><a href="">Random button <span class="glyphicon glyphicon-calendar"></span></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
