@using System.Web.Mvc.Html
@using Singular.Modules.Core.HtmlExtensions
@using Singular.Web.Mvc.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage<Singular.Modules.Core.ViewModels.CoreViewModelBase>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="background-image: url('@Url.EmbeddedContent("Core", "~/Content/Images/Logo.png")');"
               class="navbar-brand"
               href="@Url.Action("Index", "Home")"
               data-ng-click="Ui.ShowLoader()">
                <span class="sr-only">@Html.Translate("Singular Framework")</span>
                <span class="hidden">S</span>ingular
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav mb-only">
                @foreach (var section in Model.Sections)
                {
                    <li class="@(section.IsActive.Invoke() ? "active":"")">
                        <a data-ng-click="Ui.ShowLoader()" style="background-image: url('@Url.EmbeddedContent(section.AreaName, section.ImageVirtualPath)');" title="@(Html.Translate(section.Name)) | @(Html.Translate(section.Description))"
                           href="@Url.Action(section.Action, section.Controller, section.RouteValues)">
                            @(Html.Translate(section.Name))
                        </a>
                    </li>

                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
