@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" 
                    class="navbar-toggle collapsed"
                    data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Home")">@ViewBag.Title</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li data-ng-class="{ active: moduleName == 'alt.homeapp'}">@Html.ActionLink("home", "Index", "Home")</li>
                <li data-ng-class="{ active: moduleName == 'alt.altviewapp'}">@Html.ActionLink("alt-view", "Index", "AltView")</li>
                <li data-ng-class="{ active: moduleName == 'alt.altcviewapp'}">@Html.ActionLink("alt-cview", "Index", "AltCView")</li>
                <li data-ng-class="{ active: moduleName == 'alt.altrepeatapp'}">@Html.ActionLink("alt-repeat", "Index", "AltRepeat")</li>
                @*<li data-ng-class="{ active: moduleName == 'alt.altuiapp'}" ng-show="moduleName == 'alt.altuiapp'" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        angular-ui
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-alt-href="example,nav">Bootstrap nav</a></li>
                        <li><a data-alt-href="example,buttons">Bootstrap dropdown</a></li>
                    </ul>
                </li>
                <li ng-show="moduleName != 'alt.altuiapp'">@Html.ActionLink("angular-ui", "Index", "AltUi")</li>*@
                <li class="dropdown">
                    <a href="" class="dropdown-toggle">angular-ui <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index","AltUi")"></a></li>
                        <li><a href="@Url.Action("Index", "AltUi")/#/example/nav">Nav</a></li>
                        <li><a href="@Url.Action("Index", "AltUi")/#/example/buttons">Dropdown</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
@*CLICKABLE MENU HERE - VIA UI-BOOTSTRAP ? OR DO I HAVE TO WRITE IT ?
    <br/>
    IF ME, THEN SEPARATE MODULE THAT COMPLEMENTS UI-BOOTSTRAP ONLY<br/>
    Or is there a directive already?? http://stackoverflow.com/questions/16268606/responsive-dropdown-navbar-with-angular-ui-bootstrap-done-in-the-correct-angula*@
